:root {
	--color: silver;
	--source-color: #586e75;
	--source-bg: #002a35;
	--secondary-bg: #053542;
	--lines-color: gray;
	--lines-bg: var(--secondary-bg);
	--comment: #657b83;
	--directive: var(--comment);
	--operator: #cb4b16;
	--keyword: #859900;
	--type: #b58900;
	--const-number: #cb4b16;
	--const-bool: #cb4b16;
	--const-string: #2aa198;
	--const-name: var(--const-string);
	--const-none: var(--const-name);
	--var-local: #268bd2;
	--var-global: var(--var-local);
}

img[src$=".svg"] {
	filter: invert(0.75);
}
