:root {
	--color: black;
	--source-color: #586e75;
	--source-bg: #fdf6e3;
	--secondary-bg: #eee8d5;
	--lines-color: gray;
	--lines-gb: var(--secondary-bg);
	--comment: #839496;
	--directive: var(--comment);
	--operator: #cb4b16;
	--keyword: #859900;
	--type: #b58900;
	--const-number: #cb4b16;
	--const-bool: #cb4b16;
	--const-string: #2aa198;
	--const-name: var(--const-string);
	--const-none: var(--const-name);
	--var-local: #268bd2;
	--var-global: var(--var-local);
}
