:root {
	--color: black;
	--source-color: #333;
	--source-bg: white;
	--secondary-bg: #e9e9e9;
	--lines-color: gray;
	--lines-gb: #e9e9e9;
	--comment: gray;
	--directive: darkgreen;
	--operator: brown;
	--keyword: black;
	--type: crimson;
	--const-number: navy;
	--const-bool: navy;
	--const-string: chocolate;
	--const-name: darkmagenta;
	--const-none: var(--const-name);
	--var-local: blue;
	--var-global: var(--var-local);
}

body {
	color: var(--color);
	margin: 0;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
}

/*****************************
 *	Index layout
 */

#page {
	display: grid;
	grid-template: "controls header"
	               "left right";
	grid-template-columns: 450px 1fr;
	grid-template-rows: 40px 1fr;
	grid-gap: 0;
	width: 100vw;
	height: 100vh;
}

#controls {
	background-color: var(--secondary-bg);
	grid-area: controls;
}

header {
	grid-area: header;
	padding-left: 10px;

	background-color: var(--source-bg);
	border-left: 50px solid var(--lines-gb);
}

/* Source tree and class filtering */
#left {
	grid-area: left;
	height: 100%;
	width: 100%;
	border: 0;

	background-color: var(--secondary-bg);
}

/* Main source view */
#right {
	grid-area: right;
	width: 100%;
	height: 100%;
	border: 0;

	background-color: var(--source-bg);
}

/*****************************
 * Source Header
 */

header h1 {
	margin: 0;
}

/*****************************
 * Controls/Menu
 */

#controls ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 40px;

	display: flex;
}

#controls li {
	outline: 1px solid var(--source-bg);
	outline-offset: -1px;

	display: block;
	position: relative;
	text-decoration: none;
	padding: 10px;

	flex-grow: 1;
	text-align: center;
}

#controls li a {
}

#controls li:hover {
	cursor: pointer;
}

#controls ul li ul {
	visibility: hidden;
	opacity: 0;
	min-width: 270px;
	position: absolute;
	margin-top: 10px;
	left: 0;
	display: none;
	height: inherit;

	background-color: var(--secondary-bg);

	box-shadow: 3px 3px 7px -3px rgba(0,0,0,0.25);
}

#controls ul li:hover > ul,
#controls ul li:focus-within > ul,
#controls ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

#controls ul li ul li {
}

#controls img {
	max-height: 30px;
	margin-top: -6px;
	vertical-align: middle;
}

/*****************************
 * Source tree and class filtering
 */

#tree-holder {
	display: grid;
	grid-template: "search"
	               "tree";
	height: 100vh;

	grid-template-rows: 40px 1fr;

	background-color: var(--secondary-bg);
	box-shadow: -10px 5px 10px -7px rgba(0,0,0,0.4) inset;
}

#tree {
	grid-area: tree;
	overflow: scroll;
	margin: 10px;
}

#search {
	grid-area: search;
}

#search input {
	display: block;
	height: 100%;
	padding-left: 10px;
	width: calc(100% - 20px);
	background: none;
	border: 0;
	font-size: 1.2em;
	outline-offset: -2px;
}

#search input:focus {
	background-color: white;
}

/* Tree Style */

#tree .node {
	line-height: 1.4em;
	padding-left: 20px;
}

#tree > .node {
	padding-left: 0;
}

#tree .node a {
	transition-duration: 0.5s;
}

#tree .node .target > a {
	color: var(--source-color);
	background-color: var(--source-bg);
}

#tree .node a {
	cursor: pointer;
}

#tree .node .pad {
	display: inline-block;
	width: 20px;
}

#tree .node .pad.plus {
	cursor: pointer;
}

#tree .node .children {
	display: none;
}

#tree .node .children.open {
	display: inherit;
}

/*
 * Source View Layout
 */

#script {
	display: grid;
	grid-template: "lines source";
	grid-template-columns: 50px 1fr;
	grid-gap: 10px;

	width: 100vw;
	min-height: 100vh;

	background-color: var(--source-bg);

	font-size: 1.1em;
}

#lines {
	grid-area: lines;
	min-height: 100%;

	font-family: monospace;
	text-align: right;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: var(--lines-color);
	background-color: var(--lines-gb);
}

#script pre {
	grid-area: source;

	tab-size: 2;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: var(--source-color);
}

#script pre a[href] {
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	border-bottom: 0.25px dotted var(--source-color);
}

/* Source set home/landing page */
#home {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#home .head {
	font-weight: bold;
}

#home .pkg {
	display: inline-block;
	width: 300px;
	padding: 5px;
}

#home .count {
	display: inline-block;
	width: 70px;
	padding: 5px;
	text-align: right;
}

#home .contents a {
	padding: 10px;
	background-color: var(--secondary-bg);
	text-decoration: none;
	color: inherit;
	display: block;
	text-align: center;
}

#home .contents a img {
	max-height: 30px;
	margin-top: -6px;
	vertical-align: middle;
}

/*
 * Code Formatting
 */

#script pre a[href]:hover {
	background-color: var(--secondary-bg);
}

#script pre {
	color: var(--source-color);
}

pre .cmt {
	color: var(--comment);
}

pre .dir {
	color: var(--directive);
	font-weight: bold;
}

pre .cls {
	font-weight: bold;
}

pre .op {
	color: var(--operator);
}

pre .kw {
	color: var(--keyword);
}

pre .typ {
	color: var(--type);
}

pre .num {
	color: var(--const-number);
}

pre .bool {
	color: var(--const-bool);
}

pre .name {
	color: var(--const-name);
}

pre .none {
	color: var(--const-none);
}

pre .str {
	color: var(--const-string);;
}

pre .lcl {
	color: var(--var-local);;
}

pre .var {
	color: var(--var-global);;
	font-weight: bold;
}

pre .defprops {
	font-weight: bold;
}