:root {
	--color: black;
	--source-color: white;
	--source-bg: #000040;
	--secondary-bg: white;
	--lines-color: black;
	--lines-gb: #d4d0c8;
	--comment: #00ff00;
	--directive: #808080;
	--operator: inherit;
	--keyword: #00ffff;
	--type: inherit;
	--const-number: inherit;
	--const-bool: #00ffff;
	--const-string: inherit;
	--const-name: inherit;
	--const-none: inherit;
	--var-local: inherit;
	--var-global: inherit;
}

header {
	background-color: var(--lines-gb);
}

#controls {
	background-color: var(--lines-gb);
	grid-area: controls;
}

#controls li {
	outline: 0;
	border: 2px outset;
	background-color: var(--lines-gb);
}

#controls ul li ul {
	margin-top: 8px;
}

#controls li:hover {
	background-color: navy;
	color: white;
	cursor: pointer;
}

#controls li:hover img[src$="svg"] {
	filter: invert(1);
}

#home {
	color: var(--source-color);
}

#home .contents a {
	background-color: var(--lines-gb);
	color: black;
	border: 2px outset;
}

#home .contents a img[src$="svg"] {
	filter: invert(0);
}

#home img[src$="svg"] {
	filter: invert(1);
}

#script pre a[href]:hover {
	background-color: var(--lines-gb);
	color: black;
	outline: 2px outset;
}
