body {
	margin: 0;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
}

/*****************************
 *	Index layout
 */

#page {
	display: grid;
	grid-template: "controls header"
	               "left right";
	grid-template-columns: 450px 1fr;
	grid-template-rows: 40px 1fr;
	grid-gap: 0;
	width: 100vw;
	height: 100vh;
}

#controls {
	background-color: white;
	grid-area: controls;
}

header {
	grid-area: header;
	border-left: 50px solid #e9e9e9;
	padding-left: 10px;
}

/* Source tree and class filtering */
#left {
	grid-area: left;
	height: 100%;
	width: 100%;
	border: none;
}

/* Main source view */
#right {
	grid-area: right;
	width: 100%;
	height: 100%;
	border: none;
}

/*****************************
 * Source Header
 */

header h1 {
	margin: 0;
}

/*****************************
 * Controls/Menu
 */

#controls ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	height: 40px;

	display: flex;
}

#controls li {
	outline: 1px solid grey;
	outline-offset: -1px;

	display: block;
	position: relative;
	text-decoration: none;
	padding: 10px;

	flex-grow: 1;
	text-align: center;
}

#controls li a {
}

#controls li:hover {
	cursor: pointer;
}

#controls ul li ul {
	visibility: hidden;
	opacity: 0;
	min-width: 270px;
	position: absolute;
	margin-top: 10px;
	left: 0;
	display: none;
	height: inherit;

	background-color: white;

	box-shadow: 3px 3px 7px -3px rgba(0,0,0,0.25);
}

#controls ul li:hover > ul,
#controls ul li:focus-within > ul,
#controls ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

#controls ul li ul li {
}

#controls img {
	max-height: 30px;
	margin-top: -6px;
	vertical-align: middle;
}

/*****************************
 * Source tree and class filtering
 */

#tree-holder {
	display: grid;
	grid-template: "search"
	               "tree";
	height: 100vh;

	grid-template-rows: 40px 1fr;

	box-shadow: -10px 5px 10px -7px rgba(0,0,0,0.5) inset;
}

#tree {
	grid-area: tree;
	overflow: scroll;
	margin: 10px;
}

#search {
	grid-area: search;
}

#search input {
	display: block;
	height: 100%;
	padding-left: 10px;
	width: 100%;
	background: none;
	border: 0;
	font-size: 1.2em;
	outline-offset: -2px;
}

/* Tree Style */

#tree .node {
	line-height: 1.4em;
	padding-left: 20px;
}

#tree > .node {
	padding-left: 0;
}

#tree .node a {
	cursor: pointer;
}

#tree .node .pad {
	display: inline-block;
	width: 20px;
}

#tree .node .pad.plus {
	cursor: pointer;
}

#tree .node .children {
	display: none;
}

#tree .node .children.open {
	display: inherit;
}

/* Source View Layout */


#script {
	display: grid;
	grid-template: "lines source";
	grid-template-columns: 50px 1fr;
	grid-gap: 10px;

	width: 100vw;
	min-height: 100vh;
}

#lines {
	grid-area: lines;
	min-height: 100%;

	font-family: monospace;
	text-align: right;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: gray;
	background-color: #e9e9e9;
}

#script pre {
	grid-area: source;

	tab-size: 2;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: #333;
}

#script pre a[href] {
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	border-bottom: 0.25px dotted navy;
}

/* Code Formatting */

#script pre a[href]:hover {
	background-color: #e9e9e9;
}

pre .cmt {
	color: gray;
}

pre .dir {
	color: darkgreen;
}

pre .cls {
	font-weight: bold;
}

pre .ident {
	font-weight: bold;
}

pre .op {
	color: brown;
	font-weight: bold;
}

pre .kw {
	color: black;
}

pre .typ {
	color: crimson;
}

pre .num {
	color: navy;
}

pre .bool {
	color: navy;
}

pre .name {
	color: darkmagenta;
}

pre .none {
	color: darkmagenta;
}

pre .str {
	color: chocolate;
}

pre .lcl {
	color: blue;
}

pre .var {
	color: blue;
	font-weight: bold;
}

pre .defprops {
	font-weight: bold;
}