body {
	margin: 0;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
}

/* Index layout */

#page {
	display: grid;
	grid-template: "nav header"
	               "nav source";
	grid-template-columns: 450px 1fr;
	grid-template-rows: 40px 1fr;
	grid-gap: 0;
	width: 100vw;
	height: 100vh;
}

nav {
	grid-area: nav;
	display: grid;
	grid-template: "search"
	               "tree";
	grid-template-rows: 40px 1fr;

	box-shadow: -10px 0 10px -7px rgba(0,0,0,0.5) inset;
}

#tree {
	grid-area: tree;
	overflow: scroll;
	margin: 10px;
}

#search {
	grid-area: search;
}

#search input {
	display: block;
	height: 100%;
	padding-left: 10px;
	width: 100%;
	background: none;
	border: 0;
	font-size: 1.2em;
}

header {
	grid-area: header;
	border-left: 50px solid #e9e9e9;
	padding-left: 10px;
}

header h1 {
	margin: 0;
}

#source {
	grid-area: source;
	width: 100%;
	height: 100%;
	border: none;
}

/* Tree Style */

#tree .node {
	line-height: 1.4em;
	padding-left: 20px;
}

#tree > .node {
	padding-left: 0;
}

#tree .node a {
	/*display: block;*/
	cursor: pointer;
}

#tree .node .pad {
	display: inline-block;
	width: 20px;
}

#tree .node .pad.plus {
	cursor: pointer;
}

#tree .node .children {
	display: none;
}

#tree .node .children.open {
	display: inherit;
}

/* Source View Layout */


#script {
	display: grid;
	grid-template: "lines source";
	grid-template-columns: 50px 1fr;
	grid-gap: 10px;

	width: 100vw;
	min-height: 100vh;
}

#lines {
	grid-area: lines;
	min-height: 100%;

	font-family: monospace;
	text-align: right;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: gray;
	background-color: #e9e9e9;
}

#script pre {
	grid-area: source;

	tab-size: 2;
	margin: 0;
	padding: 5px;
	line-height: 1.4em;

	color: #333;
}

#script pre a[href] {
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
	border-bottom: 0.25px dotted navy;
}

/* Code Formatting */

#script pre a[href]:hover {
	background-color: #e9e9e9;
}

pre .cmt {
	color: gray;
}

pre .dir {
	color: darkgreen;
}

pre .cls {
	font-weight: bold;
}

pre .ident {
	font-weight: bold;
}

pre .op {
	color: brown;
	font-weight: bold;
}

pre .kw {
	color: black;
}

pre .typ {
	color: crimson;
}

pre .num {
	color: navy;
}

pre .bool {
	color: navy;
}

pre .name {
	color: darkmagenta;
}

pre .none {
	color: darkmagenta;
}

pre .str {
	color: chocolate;
}

pre .lcl {
	color: blue;
}

pre .var {
	color: blue;
	font-weight: bold;
}

pre .defprops {
	font-weight: bold;
}